*, *::before, *::after {
    box-sizing: border-box;
}


body {
    background-color: #333;
    color: white;
    margin: 0;
    font-family: "Arial", "Lato", "Roboto", sans-serif;
}

#ask-form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 2rem;
    height: 4rem;
    margin: 0 auto;
    width: 80%;
}

#ask-form input {
    font-size: 1.2rem;
    padding-left: 1rem;
}

#ask-form button {
    font-size: 1.2rem;
    font-weight: bold;
}

h1, h2 {
    text-align: center;
}

#output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    margin: 2rem auto;
    text-align: justify;
}

#output > div {
    padding: 1rem 10%;
}

#output > div:nth-child(2n - 1) {
    background-color: #555;
}

#output .answer-container {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

#output .source-metadata {
    margin-top: 0.5rem;
}

#output a {
    color: lightcyan;
    font-size: 1.2rem;
}

#outupt .source-text {
    width: 100%;
    overflow: hidden;
}
